{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-4 mt-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="h2 mb-3 fw-normal text-center">{{ title }}</h2>
                    <div class="input-group input-group-lg mb-3">
                        {{ form.blog_name|add_placeholder:'Название блога' }}
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        {{ form.blog_description|add_placeholder:'Описание блога' }}
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        {{ form.subscription_price|add_placeholder:'Стоимость подписки/мес' }}
                    </div>
                    <br>
                    {{ form.blog_name.errors }}
                    {{ form.blog_description.errors }}
                    {{ form.subscription_price.errors }}
                    {% if form.errors %}
                    <br>
                    {% endif %}
                    <button class="btn btn-primary w-100 py-2" type="submit">Стать автором</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}