{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ object.avatar|my_avatar }}" tyle="width: 450px; height: 450px;"
                                        class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">
                        <h1 class="h2">{{ object.blog_username }}</h1>
                        <p style="text-align: justify;">{{ object.blog_description }}</p>
                        <p class="text-end"><span class="badge badge-secondary mr-2">Для путешествий </span>Стоимость
                            подписки: {{ object.subscription_price }} / мес.</p>
                        <div class="d-flex justify-content-end align-items-end" style="height: 50px;">
                            <a href="profile.html" class="btn btn-outline-success btn-sm mr-3 mx-2">Подписаться</a>
                            <a href="{% url 'users:author_profile' object.pk %}"
                               class="btn btn-outline-primary btn-sm mr-3 mx-2">Купить подписку</a>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>Лента:</strong></h1>
    {% for object in object_list %}
    <div class="pc-container" style="background-image: url('/media/{{ object.imagine }}');">
        <div class="pc-cover">
            <div class="pc-header">
                <h2 class="pc-title"><a href="" class="pc-link">{{ object.title }}</a></h2>
                <p class="pc-description">{{ object.body|truncatechars:150 }}</p>
            </div>
            <div class="pc-footer">
                <span class="pc-date">{{ object.created_at|date }} в {{ object.created_at|time }}</span>
                <a href="ссылка-на-пост.html" class="pc-more-btn">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}