{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ object.user.avatar|my_avatar }}" tyle="width: 450px; height: 450px;"
                                        class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">
                        <h1 class="h2">{{ object.blog_name }}</h1>
                        <p style="text-align: justify;">{{ object.blog_description }}</p>
                        <p class="text-end"><span class="badge badge-secondary mr-2">Для путешествий </span>Стоимость
                            подписки: {{ object.subscription_price }} / мес.</p>
                        <div class="d-flex justify-content-end align-items-end" style="height: 50px;">
                            {% if request.user.is_authenticated %}
                            <form action="{% url 'payment:subscribe_author' %}" method="post">
                                <input type="hidden" name="author_id" value="{{ object.id }}">
                                {% else %}
                                <form action="{% url 'users:login' %}" method="get">
                                    {% endif %}
                                    {% csrf_token %}
                                    {% if request.user.is_authenticated %}
                                    {% is_subscribed request.user object as subscription_status %}
                                    {% if subscription_status %}
                                    <button class="btn btn-outline-danger btn-sm mr-3 mx-2" type="submit">
                                        Отписаться
                                    </button>
                                    {% else %}
                                    <button class="btn btn-outline-success btn-sm mr-3 mx-2" type="submit">
                                        Подписаться
                                    </button>
                                    {% endif %}
                                    {% endif %}
                                </form>
                                {% if request.user.is_authenticated %}
                                <form action="{% url 'payment:pay' %}" method="post">
                                    <input type="hidden" name="author_id" value="{{ object.id }}">
                                    {% else %}
                                    <form action="{% url 'users:login' %}" method="get">
                                        {% endif %}
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-sm mr-3 mx-2" type="submit">
                                            Купить подписку
                                        </button>
                                    </form>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
    {% if not object_list %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>У автора пока нет публикаций</strong></h1>
    {% else %}
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>Лента:</strong></h1>
    {% for obj in object_list %}
    <div class="pc-container" style="background-image: url('/media/{{ obj.imagine }}');">
        <div class="pc-cover">
            <div class="pc-header">
                {% if obj.type == 'post' %}
                <h2 class="pc-title"><a href="{% url 'content:post-detail' obj.slug %}" class="pc-link">
                    {{ obj.title }}</a></h2>
                {% else %}
                <h2 class="pc-title"><a href="{% url 'content:video-detail' obj.slug %}" class="pc-link">
                    {{ obj.title }}</a></h2>
                {% endif %}
                <p class="pc-description">{{ obj.body|truncatechars:150 }}</p>
            </div>
            <div class="pc-footer">
                <span class="pc-date">{{ obj.created_at|date }} в {{ obj.created_at|time }}</span>
                {% if obj.type == 'post' %}
                <a href="{% url 'content:post-detail' obj.slug %}" class="pc-more-btn">Подробнее</a>
                {% else %}
                <a href="{% url 'content:video-detail' obj.slug %}" class="pc-more-btn">Подробнее</a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</main>
{% endblock %}