{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <button class="btn btn-dark mt-5" onclick="window.history.back();">Назад</button>
        <div class="row row-centered">
            <div class="col-4 mt-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="h2 mb-3 fw-normal text-center">{{ title }}</h2>
                    <div class="input-group input-group-lg mb-3">
                        {{ form.new_password1|add_placeholder:'Пароль' }}
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        {{ form.new_password2|add_placeholder:'Повторите пароль' }}
                    </div>
                    <br>
                    <button class="btn btn-primary w-100 py-2" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}